
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elixir Aura</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/userHome/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/userHome/css/style.css" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <!-- <a href="./index.html"><img src="/userHome/img/logo.png" alt=""></a> -->
                    <div class="logo-text">Elixir Aura</div>
                </div>
                <div class="header-right">
                    <% if (user) { %>
                        <img src="/userHome/img/icons/search.png" alt="" class="search-trigger">

                        <a href="/profile">
                            <img src="/userHome/img/icons/man.png" alt="User Icon">
                        </a>                       
                         <a href="/cart">
                            <img src="/userHome/img/icons/bag.png" alt="">
                            <!-- <span>2</span> -->
                        </a>
                    <% } %>
                </div>
                <div class="user-access">
                    <% if (user) { %>
                        <a href="" class="flex-c-m trans-04 p-lr-25">
                            <%= user?.name %>
                        </a>
                        <a href="#" class="flex-c-m trans-04 p-lr-25" id="logoutBtn">
                            Logout
                        </a>
                    <% } else { %>
                        <a href="/register">Register</a>
                        <!-- <a href="/login" class="in">Sign In</a> -->
                    <% } %>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/shopPage">Shop</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/userHome/img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over ₹500</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/userHome/img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="/userHome/img/icons/sales.png" alt="">
                        <p>30% off on Perfumes. Use code: 30OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById('logoutBtn').addEventListener('click',function(e){
        e.preventDefault()
        Swal.fire({
        title: 'Are you sure?',
        text: "You will be logged out.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, logout',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/logout'; // Redirect after confirmation
        }
    });
    })
</script>
